/*====== Grid Principal =======*/
@import "./principalOne.css"; 
@import "./principalTwo.css"; 
@import "./principalBtn.css"; 

.principal {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   /*  gap: .5rem; */
   position: fixed;
}

