:root {
    --clr-black: #000000; 
    --clr-bl02: #161616; 
    --clr-white: #ffffff; 
    
}
*,::before,::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   }
   html {
    font-size: 62.5%;
   }
   body {
     width: 100%;
     
   }
   ul {
    list-style: none;
   }
   a {
     text-decoration: none;
     cursor: pointer;
   }
   img {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
   
     object-fit: cover;
   }

   header {
       width: 100%;
       margin: 2rem auto;
       height: 30px;
       background: #181818;
   }
   .container {
       width: 100%;
       margin: 2rem auto;
       height: 300px;
       background: lightskyblue;
   }