:root {
    --clr-black: #000000; 
    --clr-bl02: #161616; 
    --clr-white: #ffffff; 

    --clr-gray: #797d7f; 
    --clr-whiteTwo: #e0e5ec; 
    /*Neomorphism*/
    --light-shadow: #ffffff; 
    --main-Background: #E0E5EC; 
    --dark-shadow: #A3B1C6; 
}
*,::before,::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   }
   html {
    font-size: 62.5%;
   }
   body {
     width: 100%;
     font-family: 'Poppins', sans-serif;
     
   }
   ul {
    list-style: none;
   }
   a {
     text-decoration: none;
     cursor: pointer;
   }
   img {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
   
     object-fit: cover;
   }

   main {
    width: 100%;
    margin: 2rem auto;
}
.container {
    width: 100%;
    margin: 2rem auto;
    min-height: 100%;
}
.player {
    width: 350px;
    height: 600px;
    position: relative;
   /*  ocultar lista */
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem;

    background: rgba( 255, 255, 255, 0.25 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 4px );
     -webkit-backdrop-filter: blur( 4px );
     border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.player__controls {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem auto;
    cursor: pointer;
}
.player__btn {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-gray);
    padding: 1rem;
    margin: 0 auto;
    border-radius: 134px;
    background: #e0e0e0;
    box-shadow:  12px 12px 44px #a8a8a8,
            -12px -12px 44px #ffffff;
}
.player__btn--small {
    min-width: 50px;
    min-height: 50px;
}
.player_btn:active {
    background: inset rgba( 255, 255, 255, 0.20 );
    box-shadow: inset 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: inset blur( 4px );
   }
   .player__title {
       font-weight: 600;
       font-size: 1rem;
       color: #a1a1a1;
       text-transform: uppercase;
       letter-spacing: 2px;
       margin: 0 auto;
   }
   .player__imgArea {
    width: 90%;
    height: 50%;
    margin: 2rem auto;
   /*  background-color: aqua; */
   }
   .player__imgArea figure {
       width: 100%;
       height: 100%;
       margin: 0 auto;
   }
   .player__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px; 
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    box-shadow:  12px 12px 44px #a8a8a8,
            -12px -12px 44px #ffffff;
   }
   .song__details {
       width: 100%;
       flex-direction: column;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 1rem auto;
   }
   .song__details p {
       color: #a1a1a1;
       text-align: center;
       padding: .5rem;
       font-size: 1.2rem;
       font-weight: 500;
       margin: 0 auto;
   }
   .song__details .name {
       font-size: 1.4rem;
       color: var(--clr-bl02);
   }
   .progress__area {
       width: 80%;
       margin: 2rem auto;
       height: .6rem;
       background: #797d7f;
       border-radius: 50px;
       cursor: pointer;

   }
   .progress__bar {
       height: inherit;
       width: 50%;
       border-radius: inherit;
       background: #ffffff;
       position: relative;
   }
   .progress__bar::before {
       content: "";
       position: absolute;
       height: 1.2rem;
       width: 1.2rem;
       background: inherit;
       border-radius: inherit;
       top: 50%;
       right: -5px;
       transform: translateY(-50%);
       opacity: 0;
       transition: opacity 0.2s ease;
   }
   .audio__timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem auto;
   }
   .currentStart {
     color: #161616;
     font-size: 1.3rem;
   }
   .currentEnd {
    font-size: 1.3rem;
    color: #a1a1a1;
   }

   .player__btn--medium {
       min-width: 20px;
       min-height: 20px;
   }

   .progress__area:hover .progress__bar::before {
       opacity: 1;
   }

   .blues {
       background-color: #161616;
       color: #ffffff;
   }
   .two {
       margin-top: 5rem;
   }
   .hide {
       display: none;
   }

  /*  Music-list */
.music-list {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1.5rem 3rem;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   /*  ocultar la lista */
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.14s ease-out;
}
/* lista-oculta-2 // Use this Javascript */
.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.header {
    width: 100%;
    margin: .5rem auto;
}
.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    color: #a1a1a1;
    margin: 0 auto;
}
.header .row i {
    cursor: default;
    color: #000000;
}
.header #close {
    font-size: 1.4rem;
}
/*Scroll Bar*/
.music-list ul {
    width: 100%;
    margin: 1rem auto;
    border-radius: 5px;
    padding: .5rem;

    max-height: 260px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar {
    width: 0px;
}
/*Scroll Bar - finish*/
.music-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.music-list ul li {
  /*   border: 2px solid red; */
    cursor: pointer;
    list-style: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: .5rem;
    color: #161616;
}
.music-list ul li:last-child {
    border-bottom: 0px;
}
.music-list ul li .row span {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: .5rem;
}
ul li .row p {
    opacity: 0.9;
}
.audio-duration {
    font-size: 1.4rem;
    font-weight: 500;
}