/* ============ Media Mobile a Desktop  ================== */

@media (min-width: 480px) and (max-width: 767px) {
    .menu-toggle {
        top: 2rem;
    }
    .search {
     width: 80%;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-auto-rows: auto;
     gap: .5rem;
     margin: 0 auto;
     padding: .2rem;
     margin-top: 5rem;
     border: 1px solid #ffffff;
     border-radius: 50px;
     outline: none;
    }
    .search input {
      grid-column: 2 / 6;
      border: none;
      border-radius: 5rem;
      padding: 1rem;
      outline: none;
     /*  filter: opacity(0.5); */
      width: 100%;
      background: none;
      color: #fff;
    }
    .search-One {
        grid-column: 1 / 2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .screen {
        width: 90%;
        margin: 1rem auto;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 225px;
        padding: .5rem;
        gap: .5rem;
    }
    .screen-list {
        width: 100%;
        margin: 0 auto;
    }
    .screen-list ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .screen-list a {
        font-size: 1.2rem;
        color: #fff;
    }
    .screen-music {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        position: relative;
        z-index: 1;
    }
    figure {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 2;
    }
    .screen-music img {
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        border-radius: 20px;
        filter: brightness(0.5);
    }
    .screen-Text {
     width: 75%;
    /*  height: 50%; */
     position: absolute;
     z-index: 3;
     color: #fff;

    /*  display: flex; */
     flex-direction: column;
     margin: 0 auto;
     margin-top: 8rem;
     margin-left: 2rem;
    }
    .screen-Text h1 {
        font-size: 2rem;
        color: #ffffff;
        font-weight: 700;
        margin: .5rem auto;
    }
    .screen-Text p {
        margin: .5rem auto;
        padding: .5rem;
        color: gray;
        filter: opacity(0.5);
        font-size: 1.2rem;
        font-weight: 500;
    }
    .screen-iplay {
        position: absolute;
        z-index: 4;
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

    }
    .play1 {
     color: #ffffff;
     margin-right: 1rem;
     padding: .5rem;
     font-size: 2rem;
     cursor: pointer;
     filter: brightness(0.5);
    }
    .play2 {
    color: #ffffff;
    margin-left: .5rem;
    padding: .5rem;
    font-size: 2rem;
    cursor: pointer;
    filter: brightness(0.5);
    }
    .btnText {
        width: 50px;
        height: 25px;
        padding: .5rem;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        border: none;
        border-radius: 5px;
    }
    
    .section-Discover {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        margin-right: 2rem;
    }
    .discoverOne {
        grid-column: 1 / 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .titleDiscover {
        display: none;
    }
    .titleDiscoverOne {
        grid-column: 1 / 3;
        color: #ffffff;
        margin-left: .5rem;
    }
    .titleDiscoverTwo {
        grid-column: 3 / 4;
        color: #ffffff;
        margin-right: 1.5rem;
        filter: opacity(0.5);
    }
    .discoverTwo {
        display: none;
    }
    .list {
        display: none;
    }
    a {
        color: white;
        font-size: 15px;
    }
    /* ====== Section Card ====== */
    .sectionCard {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 150px 80px 150px 80px;
        gap: .5rem;
        width: 90%;
        margin: 1rem auto;
       /*  padding-block: 1rem auto; */
        padding: 1rem;
        
        /* background: rgba( 255, 255, 255, 0.05 ); */
        /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
        /* backdrop-filter: blur( 1.0px ); */
        /* -webkit-backdrop-filter: blur( 1.0px ); */
        /* border-radius: 10px; */
        /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    }
    .imageCard {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .imageCard img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: .5rem;
        border-radius: 1rem;   
    }
    .imageText {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .TitleImage {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        margin: 2px auto;
    }
    .textImg {
        color: #fff;
        filter: opacity(0.5);
        font: 10px;
        margin: 2px auto;
        font-weight: 400;
    }
    /*Image Two >>>*/
    .imageCardTwo {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }
    .imageCardTwo img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: .5rem;
        border-radius: 1rem;   
    }
    .imageTextTwo {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .TitleImageTwo {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        margin: 2px auto;
    }
    .textImgTwo {
        color: #fff;
        filter: opacity(0.5);
        font: 10px;
        margin: 2px auto;
        font-weight: 400;
    }
    /*Image Three*/
    .imageCardThree {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .imageCardThree img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: .5rem;
        border-radius: 1rem;   
    }
    .imageTextThree {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .TitleImageThree {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        margin: 2px auto;
    }
    .textImgThree {
        color: #fff;
        filter: opacity(0.5);
        font: 10px;
        margin: 2px auto;
        font-weight: 400;
    }
    /*Image Four*/
    .imageCardFour {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
    .imageCardFour img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: .5rem;
        border-radius: 1rem;   
    }
    .imageTextFour {
        grid-column: 3 / 5;
        grid-row: 4 / 5;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .TitleImageFour {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        margin: 2px auto;
    }
    .textImgFour {
        color: #fff;
        filter: opacity(0.5);
        font: 10px;
        margin: 2px auto;
        font-weight: 400;
    }
    /* Five */
    .imageCardFive {
        grid-column:  5/ 7;
        grid-row: 1 / 2;
    }
    .imageCardFive img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: .5rem;
        border-radius: 1rem;   
    }
    .imageTextFive {
        grid-column: 5 / 7;
        grid-row: 2 / 3;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .TitleImageFive {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        margin: 2px auto;
    }
    .textImgFive {
        color: #fff;
        filter: opacity(0.5);
        font: 10px;
        margin: 2px auto;
        font-weight: 400;
    }
    /* Six */
    .imageCardSix {
        grid-column: 5 / 7;
        grid-row: 3 / 4;
    }
    .imageCardSix img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: .5rem;
        border-radius: 1rem;   
    }
    .imageTextSix {
        grid-column: 5 / 7;
        grid-row: 4 / 5;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .TitleImageSix {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        margin: 2px auto;
    }
    .textImgSix{
        color: #fff;
        filter: opacity(0.5);
        font: 10px;
        margin: 2px auto;
        font-weight: 400;
    }

    /* <<<< Podcast >>>> */
    .podcast {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin: 1.5rem auto;
    }
    .podcast-Title {
        width: 100%;
        margin: 0 auto;
    }
    .podcast-Title h1 {
        padding: 1rem;
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 1rem;
    }

    .podcast-voice {
        width: 100%;
        display: grid;
        grid-template-columns: 50px 3fr 2fr 50px 50px 50px;
        grid-template-rows: repeat(8, 1fr);
        gap: .5rem;
        margin: 0 auto;
    }

    .footer {
        width: 100%;
    }
    .footer-icon {
        position: absolute;
        z-index: 3;
        width: 100%;
       /*  background: red; */
        height: 70px;
        margin: 1rem auto;
        padding-block: 1rem 0;
        border: none;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: rgba( 255, 255, 255, 0.10 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: .5rem;
        padding: .5rem;
        margin: 1rem auto;
        grid-template-areas: "icon icon icon icon icon"
                             "text text text text text";
    }
    .footer-list {
        grid-area: icon;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .list-icons:nth-last-of-type(1) {
     width: 100%;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     grid-area: icon;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .list-icons:nth-last-of-type(2) {
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-icons:nth-last-of-type(3) {
        width: 100%;
     grid-column: 3 / 4;
     grid-row: 1 / 2;
     grid-area: icon;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .list-icons:nth-last-of-type(4) {
        width: 100%;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-icons:nth-last-of-type(5) {
        width: 100%;
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textHome {
        grid-area: text;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem;
    }
    .textCalendar {
        grid-area: text;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem;
    }
    .textSearch {
        grid-area: text;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem;
    }
    .textBell {
        grid-area: text;
      grid-column: 4 / 5;
      grid-row: 2 / 3;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      padding: .5rem;
    }
    .textSettings {
        grid-area: text;
        grid-column: 5 / 6;
        grid-row: 2 / 3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem;
    }

}

/* ============ Desktop ============*/
@media screen and (min-width: 768px) {

    
}
