/* ======= <<<<<<<< 768PX Ipad >>>>>>>> ======== */

@media screen and (min-width: 768px) {

    .menu-toggle {
        top: 2rem;
    }
    .search {
     width: 80%;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-auto-rows: auto;
     gap: .5rem;
     margin: 0 auto;
     padding: .2rem;
     margin-top: 5rem;
     border: 1px solid #ffffff;
     border-radius: 50px;
     outline: none;
    }
    .search input {
      grid-column: 2 / 6;
      border: none;
      border-radius: 5rem;
      padding: 1rem;
      outline: none;
     /*  filter: opacity(0.5); */
      width: 100%;
      background: none;
      color: #fff;
    }
    .search-One {
        grid-column: 1 / 2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .screen {
        width: 90%;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 350px;
        padding: .5rem;
        gap: .5rem;
    }
    .screen-list {
        width: 100%;
        margin: 0 auto;
    }
    .screen-list ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .screen-list a {
        font-size: 1.2rem;
        color: #fff;
    }
    .screen-music {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    figure {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }
    .screen-music img {
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        border-radius: 25px;
        filter: brightness(0.5);
    }
    .screen-Text {
     width: 75%;
    /*  height: 50%; */
     position: absolute;
     z-index: 3;
     color: #fff;
    /*  display: flex; */
     flex-direction: column;
     margin: 0 auto;
     margin-top: 8rem;
     margin-left: 2rem;
    }
    .screen-Text h1 {
        font-size: 2rem;
        color: #ffffff;
        font-weight: 700;
        margin: .5rem auto;
    }
    .screen-Text p {
        margin: .5rem auto;
        padding: .5rem;
        color: gray;
        filter: opacity(0.5);
        font-size: 1.2rem;
        font-weight: 500;
    }
    .screen-iplay {
        position: absolute;
        z-index: 4;
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .play1 {
     color: #ffffff;
     margin-right: 1rem;
     padding: .5rem;
     font-size: 2rem;
     cursor: pointer;
     filter: brightness(0.5);
    }
    .play2 {
    color: #ffffff;
    margin-left: .5rem;
    padding: .5rem;
    font-size: 2rem;
    cursor: pointer;
    filter: brightness(0.5);
    }
    .btnText {
        width: 50px;
        height: 25px;
        padding: .5rem;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        border: none;
        border-radius: 5px;
    }
        
    .section-Discover {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        margin-right: 2rem;
    }
    .discoverOne {
        grid-column: 1 / 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .titleDiscover {
        display: none;
    }
    .titleDiscoverOne {
        grid-column: 1 / 3;
        color: #ffffff;
        margin-left: .5rem;
    }
    .titleDiscoverTwo {
        grid-column: 3 / 4;
        color: #ffffff;
        margin-right: 1.5rem;
        filter: opacity(0.5);
    }
    .discoverTwo {
        display: none;
    }
    .list {
        display: none;
    }
    a {
        color: white;
        font-size: 15px;
    }
    /* ====== Section Card ====== */
    .sectionCard {
        display: none;
    }

    /* ========= Slider Wrap ========== */
    .wrapOne {
        width: 100%;
        margin: 2rem auto;
        position: relative;
    }
    .slider-wrap {
     /*  position: fixed; */
     position: relative;
      overflow: hidden;
      top: 20%;
      left: 10%;
      width: 80%;
      height: 300px;
      margin: 0 auto;
      border: 1px solid red;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4000px;
        display: flex;
        will-change: transform;
        background-color: #000;
    }
    .slider-item {
        position: relative;
        flex: 1;
        overflow: hidden;
        filter: grayscale(100%);
    }
    .img-div {
        position: relative;
        left: 1%;
        top: 2.5%;
        width: 90%;
        height: 90%;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       /* background-image: url(/landing/assets/image/1.jpg); */
    }

    /* <<<< Podcast >>>> */
    .podcast {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px  1fr;
        gap: 1rem;
        margin: 1.5rem auto;
    }
    .podcast-Title {
        width: 100%;
        margin: 0 auto;
    }
    .podcast-Title h1 {
        padding: 1rem;
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 1rem;
    }
    .podcast-voice {
        width: 100%;
        display: grid;
        grid-template-columns: 50px 3fr 2fr 50px 50px 50px 50px;
        grid-template-rows: repeat(4, 1fr);
        gap: .5rem;
        margin: 0 auto;
        padding: .5rem;
        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.0px );
        -webkit-backdrop-filter: blur( 5.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    /* .voice1 { */
    /*     width: 100%; */
    /*     height: 100%; */
    /* } */
    figure {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%0;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    figure img {
        object-fit: cover;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 50px;
        padding: .2rem;
    }
    .voice-Title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
        color: #ffffff;
        filter: brightness(0.5);
        font-size: 1rem;
    }
    .voice-Icon {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-view {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconTwo {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconThree {
        grid-column: 7 / 8;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Two*/
    .figure1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%0;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .figure img {
        object-fit: cover;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 50px;
        padding: .2rem;
    }
    .voice-Title2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
        color: #ffffff;
        filter: brightness(0.5);
        font-size: 1rem;
    }
    .voice-Icon2 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-view2 {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconTwo2 {
        grid-column: 6 / 7;
        grid-row: 2 / 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconThree2 {
        grid-column: 7 / 8;
        grid-row: 2 / 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Three*/
    .figure2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 100%0;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .figure img {
        object-fit: cover;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 50px;
        padding: .2rem;
    }
    .voice-Title3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
        color: #ffffff;
        filter: brightness(0.5);
        font-size: 1rem;
    }
    .voice-Icon3 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-view3 {
        grid-column: 5 / 6;
        grid-row: 3 / 4;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconTwo3 {
        grid-column: 6 / 7;
        grid-row: 3 / 4;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconThree3 {
        grid-column: 7 / 8;
        grid-row: 3 / 4;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Four*/
    .figure3 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        width: 100%0;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .figure img {
        object-fit: cover;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 50px;
        padding: .2rem;
    }
    .voice-Title4 {
        grid-column: 2 / 3;
        grid-row: 4/ 5;
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
        color: #ffffff;
        filter: brightness(0.5);
        font-size: 1rem;
    }
    .voice-Icon4 {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-view4 {
        grid-column: 5 / 6;
        grid-row: 4 / 5;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconTwo4 {
        grid-column: 6 / 7;
        grid-row: 4 / 5;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voice-iconThree4 {
        grid-column: 7 / 8;
        grid-row: 4 / 5;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer {
        width: 100%;
    }
    .footer-icon {
        display: none;
    }
    .footer-list {
        display: none;
    }
    .footer-tablet {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 50px 50px 50px 50px;
        gap: .5rem;
        margin: 0 auto;
        padding: 0.5rem;
        background: rgba( 255, 255, 255, 0.05 );
      /*   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
        backdrop-filter: blur( 5.0px );
        -webkit-backdrop-filter: blur( 5.0px );
     /*    border-radius: 10px; */
      /*   border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    }
    .tablet-der {
        grid-column: 1 / 3;
        padding: 1rem;
        font-size: 1.6rem;
        color: #ffffff;
        filter: brightness(0.5);
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .soc1 {
        grid-column: 4 / 5;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .soc2 {
        grid-column: 5 / 6;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .soc3 {
        grid-column: 6 / 7;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .soc4 {
        grid-column: 7 / 8;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .reproductor {
        width: 100%;
        display: grid;
        grid-template-columns: 50px 2fr 6fr;
        margin: 2rem auto;
        padding: 0.5rem;
        background: rgba( 255, 255, 255, 0.05 );
        /*   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
          backdrop-filter: blur( 5.0px );
          -webkit-backdrop-filter: blur( 5.0px );
       /*    border-radius: 10px; */
        /*   border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    }
    .reproductor audio {
        grid-column: 3 / 4;
        height: 40px;
        width: 90%;
        padding: 1rem;
        outline: none;
        filter: opacity(0.5);
    }
    .figureRep {
        grid-column: 1 / 2;
        width: 100%0;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .figureRep img {
        object-fit: cover;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 50px;
        padding: .2rem;
    }
    .voice-Rep {
        grid-column: 2 / 3;
        width: 100%;
        height: 100%;
        padding: 1rem;
        /* text-align: center; */
        color: #ffffff;
        filter: brightness(0.5);
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
