/* ======= NAV ======== */
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    opacity: 0.5;
}
.large {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.small {
    font-size: 0.8rem;
    color: #161616a9;
}

.nav {
    position: fixed;
    z-index: 100;
    pointer-events: none;

    height: 100vh;
    width: 100%;
}
/* ========== ACTIVE ========= Nav-Menu por afuera / adentro =========*/
.nav.active {
    pointer-events: auto;
}
.nav-left {
    position: relative;
    z-index: 10;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background: #ffffff;

    transition: 0.8s;
}
.nav-left.active {
    left: 0;
    transition: 0.5s;
}
.nav-left ul {
    position: relative;
    top: 35%;
    left: 10%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}